.react-tags__search input {
  padding-left: 11px;
  min-width: 150px
}

.primary-color {
  background-color: #FFFFFF;
}
.bg_secondary-color {
  background-color: #293241;
}
.secondary-color {
  color: #293241;
}
.custom-button.btn {
  background-color: #293241;
  color: #FFF;
  border: none;
}
.custom-button.btn:hover {
  color: #FFF !important;
  border: none;
}
.hero {
  width: 100vw;
  height: 50vh;
}

.display-4 {
  font-size: 2.0rem;
}

.hero img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
.overlay {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

/**
Draft.js package styles
*/
.public-DraftStyleDefault-block {
  margin: 0 !important;
}

.rdw-editor-main {
  height: 300px !important;
  padding: 10px;
  border: 1px solid #F1F1F1;
  border-radius: 2px;
}